<!-- TODO: becuase I am a total nerd, I think it would be awesome to match the format of the ballot exactly, with font, 3 column layout and those computer reading hash marks -->
<!-- TODO: we must call back to http://www.sec.state.ma.us/ele/ele14/pip141.htm -->
<h3>QUESTION 1: Law Proposed by Initiative Petition</h3>
      <h1>Eliminating Gas Tax Indexing</h1>
      <p>Do you approve of a law summarized below, on which no vote was taken by the Senate or the House of Representatives on or before May 6, 2014? </p>
      <h3><strong>SUMMARY</strong></h3>
      <p>This proposed law would eliminate the requirement that the state’s gasoline tax, which was 24 cents per gallon as of September 2013, (1) be adjusted every year by the percentage change in the Consumer Price Index over the preceding year, but (2) not be adjusted below 21.5 cents per gallon.</p>
      <p><strong>A YES VOTE </strong>would eliminate the requirement that the state’s gas tax be adjusted annually based on the Consumer Price Index.</p>
      <p><strong>A NO VOTE</strong> would make no change in the laws regarding the gas tax.</p>
      <hr>
      <p><strong>ARGUMENTS</strong><br>
      <p><strong>IN FAVOR:</strong> 
      Voting yes simply stops the linkage of the gas tax to inflation. 
      This linkage causes the tax to increase every year without a vote of the Legislature. 
      That’s taxation without representation. 
      If the Legislature wants to increase taxes, they should have to vote for it. 
      No tax should automatically increase.</p>
      <p>This initiative cuts no money for bridge or road repair. 
      It just requires the Legislature to take a vote if and when they want to raise the tax. </p>
      <p>You already pay hefty gas taxes
       – 26.5 cents for state taxes [26.5 cents per gallon for state tax [pl? of tax]]
      and 18.4 cents for federal.  [18.4 cents per gallon for federal tax [pl? of tax]]
      For an average 15 gallon fill-up, you spend $6.73 in taxes.</p>
      <p>Within the last year the administration has re-instituted tolls,
       raised registry fees by 20%,
        and raised other taxes. 
        And the last time gas taxes were increased the money was diverted from road repair. 
        The state has a spending problem, not a revenue problem.</p>
      <p><strong>Authored by:<br>
        Steven Aylward<br>
        Committee to Tank Automatic Gas Tax Hikes<br>
        154 Worcester Street<br>
        Watertown, MA 02472<br>
        617-744-0760<br>
        <a href="http://www.tankthegastax.org" target="_blank">www.tankthegastax.org</a></strong></p>
      <p><strong>AGAINST:</strong> 
      Question One threatens the safety of you and your family when traveling on Massachusetts’ roads and bridges.
       The problems are startling: according to the Federal Highway Administration, 53% of all bridges in the state are either structurally deficient or functionally obsolete. Moreover, 27 bridges have been closed because they are unsafe. Potholes and bad roads cost Massachusetts residents $2.3 billion a year in car repairs.</p>
      <p>After decades of neglect, the poor condition of Massachusetts bridges and roads is now a significant public safety crisis.
       The longer we wait, the more it will cost every taxpayer to fix the problems.
        A Yes vote would make things even worse, by taking away existing gas tax revenues that we need to solve this public safety crisis – revenues that, under the state constitution, can only be used for transportation needs.
         Vote NO on Question One, [same as bas argument]
         and let’s fix our unsafe bridges and roads now. [retorical floroush]
         </p>
         [this is merely a proxy debate about infrastructure tax and finance, indexing the tax to inflation is silly, since it is a precentage of something that makes up the inflation measure (it would be possible for the tax, in theory, to be <100%), and just as the legislator an the ballot can reign in the tax corrective action can be taken virtually any time in the future.
         cutting through the BS, what is the optimal gas tax, and how close will this aproxomate it in the next couple years?  other larger question about how o collect ifrastructure reviniew or disincentivise gas use are not at issue here]
      <p><strong>Authored by:<br>
        Committee for Safer Roads and Bridges<br>
        89 Broad Street, #394<br>
        Boston, MA 02110<br>
        617-391-9663<br>
        <a href="http://www.saferoadsbridges.com" target="_blank">www.saferoadsbridges.com</a></strong></p>
      <hr>
      <p><strong>FULL TEXT OF QUESTION:</strong></p>
      <p>Be it enacted by the People, and by their authority, as follows:</p>
      <p>SECTION 1. Section 1 of chapter 64A of the General Laws is hereby amended by striking out, in the definition of “tax per gallon”, the following words:-, “adjusted at the beginning of each calendar year, by the percentage, if any, by which the Consumer Price Index for the preceding year exceeds the Consumer Price Index for the calendar year that ends before such preceding year; provided, that the Consumer Price Index for any calendar year shall be as defined in section 1 of the Internal Revenue Code pursuant to 26 U.S.C. section 1; provided further, that the tax shall not be less than 21.5 cents per gallon.”</p>
      <p>SECTION 2. The provisions of this law are severable, and if any clause, sentence, paragraph or section of this measure, or an application thereof, shall be adjudged by any court of competent jurisdiction to be invalid, such judgment shall not affect, impair, or invalidate the remainder thereof but shall be confined in its operation to the clause, sentence, paragraph, section or application adjudged invalid. Effective January 1, 2015.</p>
      
      