{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<!-- there is a lot of duplicated code, TODO: is there a way to use snippets in django -->
<!-- I know that I have offended the gods of cascading style sheets with this code -->

<h1><a href="{% url 'debate:statement' this_statement.id %}" 
	style="color: {{this_statement.validity.color}}">
	{{ this_statement.text }}</a></h1>
<h2>arguments for</h2>
<ul>
	{% for argumentfor in this_statement.argumentfor_set.all %}

	<li>{% for argument_part in argumentfor.argument.unsorted_parts.all %}
		<a
		href="{% url 'debate:statement' argument_part.content.id %}"
		style="color: {{argument_part.content.validity.color}}">{{ argument_part.content }}</a>. {% endfor %}
	</li> {% endfor %}
</ul>

<form action="{% url 'debate:submitfor' this_statement.id %}"
	method="post">
	{% csrf_token %} 
	<textarea rows="4" cols="50" name="argumentfor" id="argumentfor"> </textarea> <br>
	<input type="submit" value="Submit Argument For" />
</form>

<h2>arguments against</h2>
<ul>
	{% for argumentagainst in this_statement.argumentagainst_set.all %}

	<li>{% for argument_part in argumentagainst.argument.unsorted_parts.all %}
		<a
		href="{% url 'debate:statement' argument_part.content.id %}"
		style="color: {{argument_part.content.validity.color}}">{{ argument_part.content }}</a>. {% endfor %}
	</li> {% endfor %}
</ul>

<form action="{% url 'debate:submitagainst' this_statement.id %}"
	method="post">
	{% csrf_token %} 
	<textarea rows="4" cols="50" name="argumentagainst" id="argumentagainst"> </textarea> <br>
	<input type="submit" value="Submit Argument Against" />
</form>
