{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'debate/style.css' %}" />

{% if error_message %}
<p>
	<strong>{{ error_message }}</strong>
</p>
{% endif %}
<!-- I know that I have offended the gods of cascading style sheets with this code -->


{% load debate_extras %}

<h1>{% link this_statement %}</h1>
<h2>arguments for</h2>
<ul>
	{% for argumentfor in this_statement.argumentfor_set.all %}

	<li>{% for argument_part in argumentfor.argument.unsorted_parts.all %}
		{% link argument_part.content %}. {% endfor %}
	</li> {% endfor %}
</ul>

<form action="{% url 'debate:submitfor' this_statement.id %}"
	method="post">
	{% csrf_token %} 
	<textarea rows="4" cols="50" name="argumentfor" id="argumentfor">Becuase...</textarea> <br>
	<input type="submit" value="Submit Argument For" />
</form>

<h2>arguments against</h2>
<ul>
	{% for argumentagainst in this_statement.argumentagainst_set.all %}

	<li>{% for argument_part in argumentagainst.argument.unsorted_parts.all %}
		{% link argument_part.content %}. {% endfor %}
	</li> {% endfor %}
</ul>

<form action="{% url 'debate:submitagainst' this_statement.id %}"
	method="post">
	{% csrf_token %} 
	<textarea rows="4" cols="50" name="argumentagainst" id="argumentagainst">Becuase...</textarea> <br>
	<input type="submit" value="Submit Argument Against" />
</form>
